body {
    background-image: url("Hockeyfield.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#top-logo {
    opacity: 0.6;
    float: left;
    width: 10%;
    padding: 0;
}

#top-logo img {
    width: 100%;
    height: auto;
}

#menu {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu li {
    margin-left: 85px;
    margin-top: 15px;
    display: inline-block;
    padding: 8px;

}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover{
    text-decoration: underline;
    opacity:0.4;
}

#Stories {
    width: 40%;
    height: 60%;

    position: fixed;
    left: 30%;
    top: 15%;
    margin: 50px auto;
    opacity: 0.9;
    border-left: 15px solid #3EC8AC;
    border-right: 15px solid #4E90A4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-color: aliceblue;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    background-size: 100% 20px;
    background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);


}
