<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="aboutus.css" rel="stylesheet">
    <title>Contact us</title>
    <p>
        Send us an email here:
        <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>
    </p>



</head>
<body>
<div class="top-menu clearfix">
</div>
<div id="contactinformation"><p>Here you can find our Facebook page!</p></div>
<a href="https://www.facebook.com/MightyDronts/">Mighty Dronts</a>

</body>
